body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

} 

ul {
  display: flex;
  list-style: none;
    margin: 0;
  padding: 0;
  gap: 16px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: #F9fAF8; 
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #F9fAF8; 
}




.information-section {
  
  text-align: center;
}

.information-header{
  text-align: center;
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;

}




.information-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.information-card {
  padding: 16px;
  width: 300px;
}

.quote-section {
  display: flex;
  justify-content: center;
    text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.cta-section {
  display: flex;
  justify-content: center;

}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}