body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
} 

ul {
  display: flex;
  list-style: none;
    margin: 0;
  padding: 0;
  gap: 16px;
}

div {
  border: red 1px solid;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  font-size: 18px;
  color: #F9fAF8; 
  padding: 10px 200px;
}

.logo {
  color: #F9fAF8;
  font-weight: 900; 
  }



.banner {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  font-size: 18px;
  color: #F9fAF8; 
  padding: 100px 200px;
  gap: 32px;

}



.banner-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 600px;
  padding: 8px;
  height: 30vh;
  

}

.banner-container-image {
 
  background-color: grey;
  padding: 8px;
}


.banner-image {

  width: 99%;

  margin: auto;
  color:#F9fAF8;
  text-align: center;
}

.banner-header {
  font-weight: 900;
  font-size: 48px;
}

.banner-button{
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  color: #F9fAF8; 
  background: #3882f6;
  border: 0px;
}

.information-section {
  padding: 20px 200px;
  text-align: center;

}

.information-header{
  text-align: center;
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;

  padding: 32px;

}

.information-container {
  display: flex;
  justify-content: space-between;
  text-align: center;

  gap: 5%;



}

.information-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 5;




}

.information-card-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position:relative;
  margin: auto; 
  color:green;
  text-align: center;
  border: #3882f6 3px solid;
  border-radius: 8px;
}

.information-card-text {
  padding: 8px 16px;
  text-align: center;

}





.quote-section {
  display: flex;

  justify-content: space-between;
    text-align: left;
    background-color: #e5e7eb;
    height: 20vh;
    padding: 100px 200px;
    
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  

  
}

.main-quote{
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;

}

.main-quote-attribution {
  font-size: 18px;
  color: #1f2937;
  font-weight: 600;
  text-align: right;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding: 100px 200px;
}

.cta-outer-container{
  background: #3882f6;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  color: #F9fAF8;
  width: 100%;
  height: 15vh;
}

.cta-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  width: 75%;
}

.cta-banner-header{
  font-size: 18px;
  font-weight: 600;

}

.cta-container-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}



.cta-banner-button {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  color: #F9fAF8;
  background: #3882f6;
  border: #F9fAF8 1px solid;

}





.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  font-size: 18px;
  color: #F9fAF8; 
  padding: 10px 200px;
}